<h1>Pontuação de usuários</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center"><%= ta Score, :user_id %></th>
        <th class="text-center"><%= ta Score, :user_name %></th>
        <th class="text-center"><%= ta Score, :score_number %></th>
        <th class="text-center"><%= ta Score, :date %></th>
      </tr>
    </thead>
    <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td class="text-center"><%= score.user_id %></td>
        <td class="text-center"><%= score.user_name %></td>
        <td class="text-center"><%= score.score_number %></td>
        <td class="text-center"><%= l score.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<div class="col-sm-12" style="margin-top: 10px;">
  <%= link_to 'Importar nova tabela de Pontuação', new_score_path, class:"btn btn-primary pull-right" %>
</div>

