<div class="page-header">
  <h1>Importar nova tabela de pontuação</h1>
</div>

<%= form_tag import_scores_path, multipart: true, class: 'form-inline file-csv' do%>
  <%= file_field_tag :file, class: 'form-control', required: true %>
  <%= submit_tag 'Importar CSV', onclick: "return validateFileFormat();", class: 'btn btn-primary' %>
<% end %>

